{% extends "my_project/base.html" %}
{% block title %}
Form to add student
{% endblock %}

{% block content %}
<h1>Fill the following forms to add student</h1>

{% if messages %}
    {% for m in messages %}
        <p>{{m}}</p>
    {% endfor %}
<p><a href="{% url 'add_student' %}">Add another student</a></p>
<p><a href="{% url 'index' %}">Back to the Main page</a></p>
{% else %}
<form action="/add_student/" method="post" >
    {% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    <input type="submit" value="Create">
</form>
{% endif %}
{% endblock %}