{% extends "my_project/base.html" %}
{% block title %}
Person creating forms: student and teacher
{% endblock %}

{% block content %}
<h1>Fill the following forms to add student</h1>

{% if success %}
    <b style="color: #447e9b">New student has been successfully added.</b>
{% endif %}
<form action="/add_student/" method="post" >
    {% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
    {% endfor %}
    <input type="submit" value="Create">
</form>
{% endblock %}